*{
	margin:0;      
	padding:0;
}
body{
	font-family: calibri,sans-serif;
	height: 1770px;
}
.danceschool{
	width: 100%;
	height:100px;
background-color: #2a110a;
                                          
}
.logo{
	float: left;
	margin-left: 25px;
	margin-top: 20px;
}
.learn p{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	color: #ffffff;
    font-family: 'Great Vibes', cursive;
	font-size: 50px;
	
}
 .best ul li{
	
	list-style-type: none;
}
.best ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Josefin Slab', serif;
	float:right;
	margin-right: 60px;
	margin-top: 50px;
	
}
.best ul li a:hover{
	border-bottom: 1px solid #F89406;
}
.best ul li a.active{
	border-bottom: 1px solid #F89406;
}
.kathak img{
	
	width: 25%;
	height:570px;
	float: left;
}
#best-danceschool{
	position:absolute;
	top: 0;
	left: 0;
	min-height: 300px;
	min-width: 100%;
}
.bharatham{
	position: absolute;
	width: 100%;
	min-height: 300px;
	z-index: 1000;
	background-color: rgba{0,0,0,0.7};
}

.bharatham img{
	width: 75%;
	float: right;
}

.bharatham1{
	position: absolute;
	width: 100%;
	min-height: 300px;
	z-index: 1000;
	background-color: rgba{0,0,0,0.7};
}

.bharatham1 p{
	color: #ffffff;
	text-align: right;
	font-size: 40px;
	letter-spacing: 3px;
	margin-top: 430px;
	margin-bottom: 10px;
	font-family: 'Roboto Slab', serif;
	margin-right: 10px;
	
}
.about{
	margin-top:570px;
	width: 100%;
	height:400px;
background-color: #2a110a;
}
.abtpic{
	float: left;
	margin-left: 50px;
	margin-top: 35px;
	border-radius: 50%;
}
.headabt{
	float:left;
	margin-left: 150px;
	margin-top: 35px;
	color: #ffffff;
	font-family:sans-serif;
	font-size: 40px;
	border-bottom: 1px solid #F89406;
	border-bottom-height: 20px;
}
.headabt1{
	float:left;
	margin-left: 10px;
	margin-top: 35px;
	color: #F89406;
	font-family:sans-serif;
	font-size: 40px;
}
.abtsec{
	float:left;
	margin-top: 90px;
	color: #ffffff;
	font-family: 'Times new roman',serif;
	font-size: 20px;
	margin-left: -200px;
}
.abtsec1{
	width:500px;
	float: left;
	margin-top: 130px;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 16px;
	margin-left: -460px;
	text-align: justify;
	line-height: 1.6;
}
.abtsec1 a{
	text-decoration: none;
	color: #ffffff;
	font-family: cursive,sans-serif;
	font-size: 16px;
	border-bottom: 1px solid #F89406;
	line-height: 1.8;
}
#testimonals{
width:100%;
height:400px;
}
#contact{
width:100%;
height:450px;
background-color: #2a110a;
}
.cheading{
	float: left;
	color: #ffffff;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 50px;
	margin-left: 50px;
	border-bottom: 1px solid #F89406;
	width:230px;
}

.social1 {
	float: left;
	margin-left:-200px;
	margin-top: 140px;
}
.social2 {
	float: left;
	margin-left:-100px;
	margin-top: 140px;
}
.social3 {
	float: left;
	margin-left:10px;
	margin-top: 140px;
}
.cheading1{
	float: left;
	color: #ffffff;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 50px;
	margin-left: 80px;
	border-bottom: 1px solid #F89406;
	width:150px;
}
.map{
	float:left;
	margin-left: -110px;
	margin-top: 140px;
}
.cheading2{
	float: left;
	color: #ffffff;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 50px;
	margin-left: 100px;
	border-bottom: 1px solid #F89406;
	width:150px;
}
.content{
	float: left;
	color: #ffffff;
	font-size: 16px;
	font-family: sans-serif;
	margin-top: 50px;
	margin-left: 100px;
	line-height: 1.8;
}